<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">資訊管理系統</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/movies/view">電影資料</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">關於我</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a class="btn btn-outline-light btn-sm" href="/login">登入</a>
      </span>
    </div>
  </div>
</nav> 